/* ===== Footer ===== */
.footer {
    padding: 2.5rem 1rem;
    text-align: center;
}

.footer p {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}

.footer p span {
    color: var(--primary);
}

.footer p span:hover {
    text-decoration: underline;
    cursor: pointer;
}