/* ===== Header ===== */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    @media (max-width: 991px) {
        .btn {
            display: none;
        }
    }
    @media (max-width: 768px) {
        .navbar {
            position: absolute;
            top: 100%;
            right: -100%;
            background-color: var(--white);
            width: 45%;
            height: 100vh;
            border-top: var(--border);
            padding: 120px 0;
            transition: right 0.3s ease;
            &.active {
                right: 0;
            }
        }
    }
}

.logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: 600;
}

.nav-list {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
    }
}

.nav-list li {
    margin: 0 1rem;
}

.nav-list li a {
    color: var(--black);
    font-size: 1.7rem;
    font-weight: 400;
    transition: color 0.3s ease;
    &:hover {
        color: var(--primary);
    }
    @media (max-width: 768px) {
        display: block;
        margin: 1rem 0;
    }
}

#menu-icon {
    font-size: 2rem;
    z-index: 1010;
    cursor: pointer;
    display: none;
    @media (max-width: 768px) {
        display: inline-flex;
        align-items: center;
    }
}