@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
section {
  width: 100%;
  padding: 5rem 7%;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 487px) {
  .heading h2 {
    font-size: 4rem;
  }
}

.heading h2 span {
  color: var(--primary);
}

.btn {
  display: inline-block;
  padding: 0.6rem 2.5rem;
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.7rem;
  font-weight: 400;
  border-radius: 5rem;
  transition: color 0.3s ease;
}
.btn:hover {
  background-color: var(--secondary);
}

/* ===== Header ===== */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}
@media (max-width: 991px) {
  #header .btn {
    display: none;
  }
}
@media (max-width: 768px) {
  #header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--white);
    width: 45%;
    height: 100vh;
    border-top: var(--border);
    padding: 120px 0;
    transition: right 0.3s ease;
  }
  #header .navbar.active {
    right: 0;
  }
}

.logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-list {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    justify-content: center;
  }
}

.nav-list li {
  margin: 0 1rem;
}

.nav-list li a {
  color: var(--black);
  font-size: 1.7rem;
  font-weight: 400;
  transition: color 0.3s ease;
}
.nav-list li a:hover {
  color: var(--primary);
}
@media (max-width: 768px) {
  .nav-list li a {
    display: block;
    margin: 1rem 0;
  }
}

#menu-icon {
  font-size: 2rem;
  z-index: 1010;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  #menu-icon {
    display: inline-flex;
    align-items: center;
  }
}

/* ===== Home section ===== */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/home.jpg") no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .home {
    background-position: center;
  }
}

.home-content {
  max-width: 70rem;
  margin-top: 25rem;
}

.home-content h1 {
  color: var(--white);
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .home-content h1 {
    font-size: 5rem;
  }
}
@media (max-width: 487px) {
  .home-content h1 {
    font-size: 3.5rem;
  }
}

.home-content h1 span {
  display: block;
  font-weight: 400;
}

/* ===== About section ===== */
.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3.5rem;
}

.about .title {
  text-align: center;
  color: var(--primary);
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 1rem 0;
}
@media (max-width: 487px) {
  .about .title {
    font-size: 2.7rem;
  }
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15rem;
  padding: 1rem;
  margin-top: 1rem;
}
@media (max-width: 991px) {
  .info-container {
    gap: 5rem;
  }
}

.info-box p {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
}

.info-box p span {
  color: var(--light-black);
  font-size: 1.7rem;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .box {
  flex: 1 1 41rem;
}

.skills-container .box .progress {
  padding: 1rem 0;
}

.box .progress h4 {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box .progress h4 span {
  color: var(--secondary);
}

.box .progress .bar {
  height: 1.2rem;
  border: 0.2rem solid var(--primary);
  border-radius: 5rem;
  margin-top: 1rem;
}

.box .progress .bar span {
  display: block;
  width: 95%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 5rem;
}

.box .progress.progress2 .bar span {
  width: 90%;
}

.box .progress.progress3 .bar span {
  width: 80%;
}

.box .progress.progress4 .bar span {
  width: 75%;
}

.box .progress.progress5 .bar span {
  width: 85%;
}

.box .progress.progress6 .bar span {
  width: 80%;
}

.box .progress.progress7 .bar span {
  width: 70%;
}

.box .progress.progress8 .bar span {
  width: 65%;
}

.counter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.5rem;
}

.counter-box {
  flex: 1 1 20rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}

.counter-box i {
  color: var(--secondary);
  font-size: 3rem;
}

.counter-box h4 {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.counter-box p {
  color: var(--light-black);
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

/* ===== Services section ===== */
.services {
  background-color: var(--light-bg);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  gap: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}
@media (max-width: 350px) {
  .services-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  }
}

.service-box {
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: linear-gradient(59deg, rgba(255, 71, 178, 0.2) 50%, #fff 50.1%);
  z-index: 0;
}

.service-box h3 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.service-box p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light-black);
  margin-bottom: 1.5rem;
}

/* ===== Projects section ===== */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  gap: 2rem;
  margin-top: 4rem;
}
@media (max-width: 350px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  }
}

.project-box {
  position: relative;
  border: var(--border);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.project-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}

.project-box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 71, 178, 0.2);
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
}

.project-box .icon i {
  font-size: 6rem;
  color: var(--white);
}

.project-box img:hover {
  transform: scale(1.1);
}

.project-box:hover .icon {
  display: flex;
}

/* ===== Contact section ===== */
.contact {
  background-color: var(--light-bg);
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}
@media (max-width: 991px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
  .contact-container .contact-image {
    display: none;
  }
}

.contact-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 1.7rem;
}

.contact-form .input-field {
  position: relative;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  resize: none;
  margin: 1.5rem 0;
  border: var(--border);
  border-radius: 0.5rem;
}

.input-field label {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--light-black);
  transition: all 0.3s ease;
}

.input-field input:valid ~ label,
.input-field input:focus ~ label,
.input-field textarea:valid ~ label,
.input-field textarea:focus ~ label {
  top: -0.6rem;
  left: 0;
  color: var(--primary);
  font-size: 1.3rem;
}

.contact-form button {
  width: 180px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* ===== Footer ===== */
.footer {
  padding: 2.5rem 1rem;
  text-align: center;
}

.footer p {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.footer p span {
  color: var(--primary);
}

.footer p span:hover {
  text-decoration: underline;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary: #881f50;
  --secondary: #df438c;
  --black: #000;
  --white: #fff;
  --light-black: #666;
  --light-bg: #eee;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5rem;
}

body {
  background-color: var(--white);
  color: var(--black);
}/*# sourceMappingURL=main.css.map */